.card-button-active {
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  background: linear-gradient(90deg, #4a90e2, #9b59b6);
  color: var(--white-color);
  border: none;
  border-radius: 20px;
  padding: 12px 50px;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
