<section class="hero-section">
  <div class="hero-section-content">
    <div>
      <h1>Personal and Business</h1>
      <p>Online storage</p>
      <p>STORE AND MANAGE ALL YOUR Files!</p>
      <p>
        Upload multiple files at once and keep them forever on this site. If you're using FireFox or Chrome, you can
        simply drag & drop your files to begin uploading
      </p>
      <button mat-button>Try SkyBox Now</button>
    </div>
    <img src="/assets/images/hero_section_photo.png" class="hero-section-image" />
  </div>
</section>
