<mat-toolbar>
  <div class="header-container">
    <button mat-button routerLink="/home" routerLinkActive="active">
      <span translate class="logo">SKYBOX</span>
    </button>

    <div class="nav-links" fxShow fxHide.lt-md>
      <button mat-button routerLink="/home" routerLinkActive="active">
        <span translate>Home</span>
      </button>
      <button mat-button routerLink="/pricing" routerLinkActive="active">
        <span translate>Pricing</span>
      </button>
      <button mat-button routerLink="/contact" routerLinkActive="active">
        <span translate>Contact</span>
      </button>
    </div>

    <div class="auth-buttons" fxShow fxHide.lt-md>
      <button mat-button class="default_button" routerLink="/login" routerLinkActive="active">
        <span translate>LOGIN</span>
      </button>
      <button mat-raised-button class="button_signup" routerLink="/register" routerLinkActive="active">
        <span translate>SIGN UP</span>
      </button>
    </div>

    <div fxShow.lt-md fxHide fxLayoutAlign="end center">
      <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
