<section class="footer-section">
  <div class="footer-content">
    <div class="footer-content-columns">
      <div class="footer-about-us-column">
        <h3>About us</h3>
        <p>
          When using the SKYBOX Services You may transmit, store and/or share certain data, information, files, etc.
          (altogether "Service Data"). For the avoidance of doubt, You retain full ownership of Your Service Data.
          SKYBOX does that You or any other use while using the Service. SKYBOX agrees that these Terms do not grant.
        </p>
      </div>
      <div class="footer-featured-links-column">
        <h3>Featured Links</h3>
        <a href="#">Pricing</a>
        <a href="#">Contact</a>
        <a href="#">DMCA</a>
        <a href="#">Refund Policy</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
      </div>
      <div class="footer-contact-us-column">
        <h3>Contact us</h3>
        <p>Our office:</p>
        <p>Digitalgoals LTD</p>
        <p>Lapathou, 6, Stravdas 2027.</p>
        <p>Leifosia, Cyprus</p>
        <p>Phone: +37 04 225 29 36</p>
        <p>Email: mail@example.com</p>
      </div>
    </div>
    <hr />
  </div>
</section>
<footer class="footer-copyright">Copyright © 2016 - 2021 - SkyBox - Online File Storage</footer>
