@import "src/theme/theme-variables";

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 75%;
  margin: 0 auto;
  flex: 1;
}

.mat-sidenav-container {
  flex: 1;
  min-height: calc(100vh - 64px);
}

.mat-sidenav {
  min-width: 270px;
  max-width: 28%;
}

.has-border {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-list {
  padding-top: 0;
}

.mat-list-item {
  text-decoration: none;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}

@media (max-width: 600px) {
  .container {
    padding-top: 56px;
  }

  .mat-sidenav-container {
    min-height: calc(100vh - 56px);
  }
}

:host ::ng-deep .hero-section {
  max-width: 100%;
  overflow: hidden;

  .container {
    padding: 16px;
  }
}
